.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .two,
  .three {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1080px) {
  .three {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  color: rgba(255, 255, 255, 0.5);
}
